:root {
  --dark: #212121;
  --dark-gray: #424242;
  --gray: #616161;
  --light-gray: #99A3A4;
  --white: #fbfcfc;
  --light: #E5E7E9;
  --pink: #EF9A9A;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;

  color: var(--light);
}

* {
  box-sizing: border-box;
}

input,
button {
  font-family: inherit;
  color: inherit;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  padding: 75px 100px 150px;

  background-color: var(--dark);
}

.calculator-body {
  flex: 0 1 1080px;
}

.output-field {
  width: 100%;
  margin-bottom: 25px;
  padding: 20px;
  border: 3px solid var(--pink);

  border-radius: 10px;
  font-size: 2rem;

  background-color: var(--dark);
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 15px;
}

.buttons-item {
  border: none;
  padding: 20px;

  border-radius: 10px;
  font-size: inherit;
  line-height: 1.6;
  background-color: var(--dark-gray);
}

.radians,
.degrees {
  color: var(--light-gray);
  background-color: var(--gray);
}

.radians {
  border-radius: 25px 25px 0 0;
}

.degrees {
  border-radius: 0 0 25px 25px;
}

.active {
  font-weight: 700;
  color: var(--white);
  text-decoration: underline 4px var(--pink);
}

.backspace {
  padding-top: 30px;
  color: var(--dark-gray);
  background-color: var(--light);
}

.numbers-theme,
.primary-theme,
.operators-theme {
  font-weight: 700;
}

.numbers-theme {
  color: var(--white);
  background-color: var(--gray);
}

.primary-theme {
  color: var(--dark-gray);
  background-color: var(--pink);
}

.operators-theme {
  color: var(--pink);
}
