:root {
  --dark: #212121;
  --dark-gray: #424242;
  --gray: #616161;
  --light-gray: #99A3A4;
  --white: #fbfcfc;
  --light: #E5E7E9;
  --pink: #EF9A9A;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;

  color: var(--light);
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
}

input,
button {
  font-family: inherit;
  color: inherit;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  padding: 50px 100px 100px;

  background-color: var(--dark);
}

.calculator-body {
  flex: 0 1 700px;
}

.output-field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 6rem;
  margin-bottom: 25px;
  padding: 20px;
  border: 3px solid var(--pink);

  border-radius: 10px;

  background-color: var(--dark);
}

.total-output {
  color: var(--gray);
}

.result-output {
  font-size: 2rem;
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 15px;
}

.buttons-item {
  border: none;
  padding: 15px;

  border-radius: 10px;
  font-size: inherit;
  line-height: 1.6;
  background-color: var(--dark-gray);
}

.backspace {
  padding-top: 25px;
  color: var(--dark-gray);
  background-color: var(--light);
}

.numbers-theme,
.primary-theme,
.operators-theme {
  font-weight: 700;
}

.numbers-theme {
  color: var(--white);
  background-color: var(--gray);
}

.primary-theme {
  color: var(--dark-gray);
  background-color: var(--pink);
}

.operators-theme {
  color: var(--pink);
}

@media (max-width: 600px) {
  .container {
    padding: 20px;
  }

  .buttons-grid {
    grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr 1fr;
  }

  .buttons-item {
    padding: 10px;
  }

  .backspace {
    padding-top: 20px;
  }
}